In [11]:
import pandas as pd
import numpy as np
import os

#Check the current working directory
wd = os.getcwd()
print(wd)

#import the data, add column names
iris = pd.read_csv('iris.csv', header = None, names = ["Sepal_length", "Sepal_width", "Petal_length", "Petal_width", "Class"])

#describe the dataset
iris.describe()

C:\Users\kdebr\Documents\GitHub\Portfolio_KHD_i590\Code

       Sepal_length  Sepal_width  Petal_length  Petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
#show the first few rows of the data
iris.head()

   Sepal_length  Sepal_width  Petal_length  Petal_width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
iris.tail()

     Sepal_length  Sepal_width  Petal_length  Petal_width           Class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [13]:
iris.sample()

    Sepal_length  Sepal_width  Petal_length  Petal_width            Class
83           6.0          2.7           5.1          1.6  Iris-versicolor

In [15]:
iris.sample()

     Sepal_length  Sepal_width  Petal_length  Petal_width           Class
116           6.5          3.0           5.5          1.8  Iris-virginica

In [18]:
iris.shape
#Note there are no parentheses after shape.
#Note the difference between this and iris.head()
#This gives the total dimensions of the data set, head gives first few rows

(150, 5)

In [19]:
iris.len()

AttributeError: 'DataFrame' object has no attribute 'len'